h1 {
    margin-left: 30px;
    margin-bottom: -20px;
    color: #ffffff;
    /*font-family: 'Roboto', Arial, sans-serif; */
    font-family: 'Gelasio', Arial, serif;    

}

p {
    font-family: 'Gelasio', Arial, serif; 
    font-size: 21px;
    font-style: normal; font-variant: normal;
    line-height: 25px;
    color: #ffffff;
    padding: 0px;
    margin: 30px;
}

.orange-text {
    color: orange
}

.default-border {
    border-color: #7575dd;
    border-radius: 5px;
    border-width: 3px;
    padding: 10px;
    border-style: solid;
    background-color: #7575dd;
}

.default-border2 {
    border-color: #ff414e;
    border-radius: 0px;
    border-width: 3px;
    border-style: solid;
    background-color: #ff414e;
}

.default-border3 {
    border-color: #9068be;
    border-radius: 0px;
    /* border-radius: 5px; */
    border-width: 3px;
    border-style: solid;
    background-color: #9068be;
}

.jumbotron-alert {
    background-color: #ff414e		;
    margin: 20px;
    padding: 20px;
}

.jumbotron-blue {
    background-color: #0074D9;
    margin: 30px;
    padding: 20px;
}

.jumbotron-post1 {
    background-color: #101357;
    margin: 30px;
    padding: 20px;
}

.default-size {
    margin: 30px;
}

label {
    font-family: 'Gelasio', Arial, serif; 
    font-size: 21px;
    font-style: normal; font-variant: normal;
    line-height: 25px;
    color: #ffffff;
}

.element-button {
    position:relative;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 10px;
}

