<!DOCTYPE html>
<html>
    <body>
        <h1>Facebook</h1>
        <p>Enter your details to get started!</p>

        <form action="/process" method="post">
            Name <input type="text" name="name"/>
            Age  <input type="text" name="age"/>
            Food <input type="text" name="food"/>
            <p></p>
            <input type="radio" name="gender" value="male"/> Male
            <input type="radio" name="gender" value="female"/> Female
            <p></p>
            <input type="submit" value="submit" />  
        </form>
    </body>
</html>