{% extends "layout.html" %}
{% block title %} Ideacloud {% endblock %}

{% block main %}


<form action="/" method="post">
    <div class="form-group default-size default-border">
        <label for="exampleFormControlTextarea1">What's on your mind, {{ name }}?</label> 
        <button type="submit" class="btn btn-dark element-button">Submit!</button>
        <textarea class="form-control" maxlength="240" name="text" id="text" rows="3"></textarea>   
    </div>
</form>



<h1> <italic> <center> ~ My Ideas ~ </center> </italic></h1>

{% for row in range(postcount) %}
<div class="jumbotron jumbotron-post1">
    <label class = "label-small">Post {{row +1}}, {{time[loop.index0]}}</label>
    <p class="lead"> {{ posts[loop.index0] }}</p>
</div>
{% endfor %}

{% if not postcount  %}
<div class="jumbotron jumbotron-post1">
    <p class="lead"> This is where your ideas will be! It's empty here...</p>
</div>
{% endif %}


<div class="default-border2 footer">
    <div class="jumbotron jumbotron-alert">
        <h1 class="display-4">Hey {{ name }}!</h1>
        <p class="lead">Thanks for using Ideacloud! We're constantly adding new features, stay tuned for the fall
            update!</p>
    </div>
</div>

{% endblock %}


