{% extends "layout_logout.html" %}
{% block title %} Ideacloud: Error {% endblock %}

{% block main %}


<div class="jumbotron jumbotron-fluid default-size jumbotron-error">
    <div class="container">
      <h1 class="display-5">Error: {{ error }}</h1>
      <p class="lead">Please try again.</p>
    </div>
  </div>

    <center>
        <img class="default-size" src="https://art.ngfiles.com/images/109000/109044_alivemario_spongebob-pointing.jpg?f1275192589" style="width:640px;height:480px;"> 
    </center>
{% endblock %}